*{
    margin : 0;
    padding: 0;
}
body {
    display: flex;
    align-items: center; 
    min-height: 97vh;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    overflow: hidden;   
}
.container {
    display: flex;
    background: #ffffff;
    min-height: 100%;  
    min-width: 100%;
    
}
.left{
    
    display : flex;
    flex-direction : column;
    justify-content: center;
    align-items: center; 
    /*
    background: linear-gradient(135deg,#ffffff 0%, #fff5f5 80%);
    background: -webkit-linear-gradient(135deg,#ffffff 0%, #fff5f5 80%);
    background: -moz-linear-gradient(135deg,#ffffff 0%, #fff5f5 80%);
    */
    background-image: url('../images/bg-pattern-desktop.svg');
    width: 60%;
    padding: 0 40px 40px;
    
   
  
}
.textContainer{
   display: flex;
   flex-direction: column;
   justify-content: center;
   
   max-width: 60%;
   min-height: 50%;

   
}
h1 {
    color: hsl(0, 6%, 24%);
    letter-spacing: 0.75rem;
    font-weight : 600;
    font-size : 8vh;
    line-height: 1.2;

}
.black {
    letter-spacing: 10px;
    color: hsl(0, 36%, 70%);
    font-weight: 900;
    
}
p {
   
    margin: 30px 0;
    font-size : 3vh;
    color: hsl(0, 36%, 70%);
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    
    font-weight: 600;
    
}
.right{
    width: 40%;
    background-image: url('../images/hero-desktop.jpg'); 
    background-size: cover;
    background-position: center;
}

#logo{
    width: 200px;
    margin-bottom: 100px;
  
}
.input {
    border:  1px solid hsl(0, 36%, 70%);
    width: 85%;
    border-radius: 30px;
    display : flex;
    justify-content : space-between;
    height: 7vh;
}
input {
    background: #ffffff;
    background: linear-gradient(135deg,#ffffff 0%, #fff5f5 80%);
    background: -webkit-linear-gradient(135deg,#ffffff 0%, #fff5f5 80%);
    background: -moz-linear-gradient(135deg,#ffffff 0%, #fff5f5 80%);
    border : none;
    margin-left : 1em;
    
}
.submit {
    background: #f8bfbf;
    background: linear-gradient(135deg,#f8bfbf 0%, #ee8c8c 80%);
    background: -webkit-linear-gradient(135deg,#f8bfbf 0%, #ee8c8c 80%);
    background: -moz-linear-gradient(135deg,#f8bfbf 0%, #ee8c8c 80%);
    width : 15%;
    padding : 0.6em;
    
    border-radius : 30px;
    display : flex;
    justify-content : center;
    align-items : center;
}
@media (max-width : 760px){
    .container{
        flex-direction: column-reverse;
    }
    .left{
        width: 100%;
        height:60vh ;
       
    }
    .right{
        min-height: 40vh;
        width: 100%;
        background-image: url('../images/hero-mobile.jpg'); 
        background-size: cover;
        background-position: center;
        
    }
    .textContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    p{
        text-align: center;
        margin-right: 0;
    }
    #logo{
        margin-bottom: 15px;
        margin-top: 15px;
    }
}